.about {
  margin-top: 100px;
}

.about-header {
  color: #7de2d1ff;
  margin-bottom: 20px;
  margin-top: 40px;
}
.about-first-text {
  font-size: 24px;
  text-align: start;
  font-family: "Lexend Giga", sans-serif;
  color: rgb(163, 163, 163);
}
.about-first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* background-color: rgb(232, 149, 24); */
  align-items: center;
}
.about-first-2ndcol {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
.about-first-image {
  height: 80px;
  width: 80px;
  align-self: center;
}
.about-title {
  font-family: "Lexend Giga", sans-serif;
  color: #7de2d1ff;
  font-weight: bolder;
  /* margin-top: -50px; */
  text-shadow: 0 0 13px rgba(133, 221, 206, 0.681);
}
.about-third {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
