.projects-header {
  color: #7de2d1ff;
  margin-top: 100px;
  margin-bottom: 30px;
}
.projects-showcase {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.projects-intro-text {
  font-size: 28px;
  font-family: "Lexend Giga", sans-serif;
  color: rgb(163, 163, 163);
}
.project {
  border-radius: 20px;
  box-shadow: 0 0 14px #339989ff;
  overflow: hidden;
}
.project-title {
  padding-top: 20px;
  border-top: 1px solid rgba(51, 153, 138, 0.72);
  font-size: 30px;
  color: #7de2d1ff;
}
.project-image {
  border-radius: 20px;
}

.project-image:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

.project-text {
  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: "Lexend Giga", sans-serif;
  padding-bottom: 20px;
  margin-top: -20px;
}
